/*------------xemPhim.html-------------*/
.player-header {
  height: 60px;
}
.player-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.9) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.player-center {
  margin: auto;
  text-align: center;
  color: white;
}

.player-controls {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  color: #ccc;
  font-size: 14px;
}

.player-controls button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  margin-right: 15px;
  font-weight: 600;
}

.player-controls button:hover {
  color: white;
}

.player-back {
  padding: 20px;
}

.player-back a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
}
.player-back a:hover {
  color: white;
}
.player-back,
.player-controls button {
  pointer-events: auto;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding-top: 40px;
  padding-bottom: 65px;
}