/* GLOBAL */
:root {
  --primary: #ff006a;
  --secondary: #00c2ff;
  --text: #ffffff;
  --text-dim: #cfcfcf;
  --bg: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  padding: 0 40px;
}

/* HEADER */
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  padding: 0 70px 0 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: var(--text-dim);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav a.active,
.nav a:hover {
  color: var(--primary);
  transition: 0.5s;
}
.menu-btn {
  width: 35px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

.menu-btn span {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

/* HERO */
.hero {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  max-width: 500px;
}

.hero-content h2 {
  font-size: 40px;
  font-weight: 700;
}

.hero-content h1 {
  font-size: 48px;
  margin-top: -5px;
  font-weight: 800;
}

.hero-content h1 span {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  margin: 20px 0;
  color: var(--text-dim);
  line-height: 1.6;
}

.btn {
  background: transparent;
  color: var(--text);
  border: 2px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.hero-poster {
  position: relative;
}

.hero-poster img {
  width: 340px;
  border-radius: 12px;
}

.play-btn {
  position: absolute;
  top: 42%;
  left: 42%;
  background: #fff;
  color: #000;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.play-btn:hover {
  transform: scale(1.15);
}

/* MOVIE SECTIONS */
.section {
  margin-top: 70px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-header h3 {
  font-size: 28px;
  font-weight: 700;
}

.see-more {
  color: var(--text-dim);
  text-decoration: none;
  transition: 0.3s;
}

.see-more:hover {
  color: #fff;
}

/* GRID */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.movie-card img:hover {
  transform: scale(1.05);
}

.movie-card h4 {
  margin-top: 8px;
  font-size: 15px;
}

.movie-info {
  font-size: 13px;
  color: var(--text-dim);
}

/* comment */
.comment {
  margin-top: 70px;
}
.comment h3 {
  font-size: 28px;
  font-weight: 700;
}
.comment-list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.comment-item {
  flex: 0 0 calc(25% - 20px);
  display: flex;
  align-items: center;
  gap: 10px;
  background: #111;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  transition: transform 0.5s ease;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
/* footage */
.footage-section {
  padding: 50px 0;
  color: #fff;
}

.footage-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footage-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footage-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: #000;
}

.footage-item video {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: 0.3s ease;
  filter: brightness(0.6);
}

.footage-item:hover video {
  filter: brightness(1);
}

.footage-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: 600;
}
.footage-item:hover .footage-name {
  color: var(--primary);
}
/* footer */
.footer {
  background: #080808;
  padding: 50px 20px;
  color: #ccc;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 25px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 55px;
}

.footer-logo h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.footer-logo p {
  margin: 0;
  font-size: 14px;
  color: #bbb;
}

.footer-social {
  display: flex;
  gap: 12px;
  font-size: 22px;
}

.footer-social span {
  width: 40px;
  height: 40px;
  background: #1a1d25;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.footer-social span:hover {
  transform: scale(1.1);
  background: #2d313c;
}

.footer-links,
.footer-tags {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.footer-links a,
.footer-tags a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}

.footer-links a:hover,
.footer-tags a:hover {
  color: #fff;
}

.footer-desc {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  max-width: 900px;
}

.footer-copy {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
  color: #777;
}
.footer-copy a {
  color: #777;
  text-decoration: none;
}

/*------------chonPhim.html-------------*/
/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #181a1d; /* Màu nền tối (thường thấy ở các trang web xem phim) */
  color: #e0e0e0; /* Màu chữ sáng */
  line-height: 1.6;
}

/* Container giới hạn chiều rộng nội dung */
.container {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* ================== 1. HEADER ================== */
#main-header {
  /* background-color: #202225;*/
  background-color: rgba(51, 51, 51, 0);
  transition: background-color 0.3s linear;
  width: 100%;
  position: fixed;
  transition: transform 0.3s ease; /* hiệu ứng ẩn/hiện */
}

#main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #e50914; /* Màu đỏ nổi bật */
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav li {
  margin-right: 20px;
}

.main-nav a,
.user-actions button {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: #e50914;
}

.user-actions input[type="text"] {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #e0e0e0;
  margin-right: 10px;
}

.user-actions button {
  background-color: #e50914;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ================== 2. MAIN CONTENT ================== */
/* #movie-main {
    padding-top: 20px;
} */

.player-placeholder {
  background-color: #000;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

/* Khu vực Chi tiết và Sidebar */
.content-wrapper {
  display: flex;
  gap: 0px; /* Khoảng cách giữa các cột */
  margin-bottom: 40px;
}

.movie-details {
  flex: 3;
  border-radius: 40px;
  background-color: #202225;
  padding: 20px;
}

.sidebar {
  flex: 1.2;
  background-color: #202225;
  padding: 20px;
  border-radius: 40px;
}

.movie-details h2,
.movie-details h3,
.movie-details h4,
.sidebar h3 {
  color: #e50914;
  margin-top: 15px;
  margin-bottom: 10px;
}

.meta-info span {
  background-color: #333;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  margin-right: 5px;
}

.tabs-navigation {
  border-bottom: 2px solid #333;
  margin: 20px 0;
}

.tabs-navigation a {
  text-decoration: none;
  color: #ccc;
  padding: 10px 15px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.tabs-navigation a.active {
  color: #e50914;
  border-bottom-color: #e50914;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

.related-list li {
  padding: 8px 0;
  border-bottom: 1px dashed #333;
}

.related-list li a {
  color: #ccc;
  text-decoration: none;
}

.comment-section textarea {
  width: 100%;
  min-height: 100px;
  background-color: #333;
  border: 1px solid #444;
  color: #e0e0e0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* ================== 3. FOOTER ================== */
#main-footer {
  background-color: #202225;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
}

#main-footer a {
  color: #aaa;
  text-decoration: none;
}

#main-footer a:hover {
  color: #e0e0e0;
}

.copyright-note {
  font-style: italic;
  color: #888;
  margin-top: 10px;
}

/* ================== 4. RESPONSIVE (Dành cho điện thoại) ================== */
@media (max-width: 768px) {
  /* Hiện menu button */
  .menu-btn {
    display: flex;
  }

  /* Ẩn nav mặc định */
  .nav {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 60%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 25px;
    transition: 0.35s ease;
    z-index: 1000;
  }

  /* Khi mở */
  .nav.open {
    right: 0;
  }

  /* Style item */
  .nav a {
    font-size: 18px;
    color: #fff;
  }

  /* Header nhỏ lại */
  .header {
    padding: 0 20px;
  }

  /* Hamburger animation thành dấu X */
  .menu-btn.active span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  button.btn {
    margin: auto;
  }
}

/*---------------------------------------*/
/* reponsive */
/* MOBILE ≤ 768px */
@media (max-width: 768px) {
  body {
    padding: 0 20px;
    margin: auto;
  }

  /* HEADER */
  .header {
    padding: 0 20px;
    height: 60px;
  }

  .nav {
    gap: 15px;
  }

  /* HERO */
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .hero-content h2 {
    font-size: 28px;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-poster img {
    width: 260px;
  }

  .play-btn {
    width: 45px;
    height: 45px;
    top: 40%;
    left: 40%;
  }

  /* MOVIE GRID */
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  /* COMMENT */
  .comment-list {
    flex-wrap: wrap;
  }

  .comment-item {
    flex: 0 0 100%;
  }

  /* FOOTAGE */
  .footage-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footage-item video {
    height: 200px;
  }

  /* FOOTER */
  .footer-logo {
    margin: auto;
  }
  .footer-social {
    display: none;
  }
  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-links,
  .footer-tags {
    justify-content: center;
  }
}
/* table */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 0 30px;
  }
  button.btn {
    margin: auto;
  }
  /* HEADER */
  .header {
    padding-right: 30px;
  }

  .nav {
    gap: 20px;
  }

  /* HERO */
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-poster img {
    width: 300px;
  }

  /* GRID */
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  /* COMMENT */
  .comment-item {
    flex: 0 0 calc(50% - 20px);
  }

  /* FOOTAGE */
  .footage-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footage-item video {
    height: 200px;
  }
}
