/* GLOBAL */
:root {
  --primary: #ff006a;
  --secondary: #00c2ff;
  --text: #ffffff;
  --text-dim: #cfcfcf;
  --bg: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  padding: 0 40px;
}

/* HEADER */
.header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: var(--text-dim);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav a.active,
.nav a:hover {
  color: var(--primary);
  transition: 0.5s;
}

/* HERO */
.hero {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  max-width: 500px;
}

.hero-content h2 {
  font-size: 40px;
  font-weight: 700;
}

.hero-content h1 {
  font-size: 48px;
  margin-top: -5px;
  font-weight: 800;
}

.hero-content h1 span {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  margin: 20px 0;
  color: var(--text-dim);
  line-height: 1.6;
}

.btn {
  background: transparent;
  color: var(--text);
  border: 2px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.hero-poster {
  position: relative;
}

.hero-poster img {
  width: 340px;
  border-radius: 12px;
}

.play-btn {
  position: absolute;
  top: 42%;
  left: 42%;
  background: #fff;
  color: #000;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.play-btn:hover {
  transform: scale(1.15);
}

/* MOVIE SECTIONS */
.section {
  margin-top: 70px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-header h3 {
  font-size: 28px;
  font-weight: 700;
}

.see-more {
  color: var(--text-dim);
  text-decoration: none;
  transition: 0.3s;
}

.see-more:hover {
  color: #fff;
}

/* GRID */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.movie-card img:hover {
  transform: scale(1.05);
}

.movie-card h4 {
  margin-top: 8px;
  font-size: 15px;
}

.movie-info {
  font-size: 13px;
  color: var(--text-dim);
}
